Repository sparesparrow/sparrow-ai-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Updates
  MarkdownTest/index.html
  _astro/MarkdownTest.BJNKP2hJ.css
  _astro/MarkdownTest.N_PvqXi_.css
  agentic-workflow/index.html
  index.html
  js/index.js
  mermaid-editor/index.html
  security/index.html
Due: eslint --fix, prettier --write

feat: Add multilingual support and SEO improvements
  .github/workflows/backend-ci.yml
  .github/workflows/content-sync.yml
  .github/workflows/cv-generate.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/layouts/CyberpunkLayout.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  src/pages/philosophy.astro
Due: prettier --write

Add articles pages with multilingual support and MCP content
  src/pages/articles.astro
  src/pages/articles/mcp-contributions.astro
  src/pages/articles/mcp-in-practice.astro
  src/pages/articles/mcp-open-platform.astro
Due: prettier --write

Add Mermaid diagram support and enhance diagram management
  .cursor/mcp.json
  DIAGRAM_MANAGEMENT.md
  MERMAID_FEATURES.md
  astro.config.mjs
  cypress/e2e/language-switch.cy.js
  cypress/e2e/main.cy.js
  cypress/e2e/routes.cy.js
  cypress/e2e/theme-and-i18n.cy.js
  cypress/support/commands.js
  package-lock.json
  package.json
  public/articles/mermaid-test.md
  public/js/index.js
  src/components/DiagramGallery.jsx
  src/components/markdown/MarkdownViewer.jsx
  src/components/markdown/Mermaid.astro
  src/components/markdown/MermaidLiveEditor.jsx
  src/data/diagrams.json
  src/layouts/CyberpunkLayout.astro
  src/pages/chatbot.astro
  src/pages/diagram-gallery.astro
  src/pages/index.astro
  src/pages/markdown-test.astro
  src/pages/mermaid-editor.astro
  src/pages/philosophy.astro
  src/pages/publications.astro
  src/utils/diagramUtils.js
Due: eslint --fix, prettier --write

UX: add hover previews, gallery lightbox, header logo, accessible nav; bind assets; ensure all resources navigable from main page
  app.js
  assets/README.md
  assets/hero-bg.jpg
  assets/logo.svg
  docs/index.html
  index.html
  styles.css
Due: eslint --fix, prettier --write

Enhance philosophy page with fallback values for thinkers and themes
  src/pages/philosophy.astro
Due: prettier --write

Apply local philosophy.astro updates after pulling latest
  src/pages/philosophy.astro
Due: prettier --write

Update pages: mermaid-editor, philosophy, publications; sync with nested repo changes
  src/pages/mermaid-editor.astro
  src/pages/philosophy.astro
  src/pages/publications.astro
Due: prettier --write

Ignore nested repo; remove from index
  .gitignore
Due: none

🚀 Add enhanced bibliography and citation system
  README.md
  enhance_website_citations.sh
  package-lock.json
  src/components/citations/Bibliography.jsx
  src/components/citations/CitationLink.jsx
  src/css/main.css
  src/pages/citations.astro
  src/pages/philosophy-enhanced.astro
  src/pages/philosophy.astro
Due: eslint --fix, prettier --write

chore(home): remove philosophy paragraph (Filosofie & Intelektuální rámec) from homepage
  src/pages/index.astro
Due: prettier --write

feat(home): remove philosophy section and nav link; disable philosophy scripts
  public/js/index.js
  src/layouts/CyberpunkLayout.astro
Due: eslint --fix, prettier --write

Update index.html
  index.html
Due: prettier --write

Refresh homepage from the 2026 CVs and fix the broken Pages deploy
  public/cv/Vojtech_Spacek_CV.pdf
  public/cv/Vojtech_Spacek_CV_CH_dossier.pdf
  public/cv/Vojtech_Spacek_CV_CZ_contractor.pdf
  public/cv/Vojtech_Spacek_CV_PL_B2B.pdf
  src/components/__tests__/i18n.test.jsx
  src/layouts/CyberpunkLayout.astro
  src/pages/index.astro
  src/styles/home.css
Due: eslint --fix, prettier --write

Fix cv-generate workflow expression quoting
  .github/workflows/cv-generate.yml
Due: none

Let pnpm/action-setup read the version from packageManager
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
Due: none

Regenerate pnpm-lock.yaml to match package.json
  pnpm-lock.yaml
Due: none

Refresh homepage from the 2026 CVs and fix the broken Pages deploy (#45)
  .github/workflows/cv-generate.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  pnpm-lock.yaml
  public/cv/Vojtech_Spacek_CV.pdf
  public/cv/Vojtech_Spacek_CV_CH_dossier.pdf
  public/cv/Vojtech_Spacek_CV_CZ_contractor.pdf
  public/cv/Vojtech_Spacek_CV_PL_B2B.pdf
  src/components/__tests__/i18n.test.jsx
  src/layouts/CyberpunkLayout.astro
  src/pages/index.astro
  src/styles/home.css
Due: eslint --fix, prettier --write

Add a Case Studies page and tidy the site around it
  src/components/RepoGallery.jsx
  src/components/features/FlowSteps.astro
  src/layouts/CyberpunkLayout.astro
  src/layouts/Layout.astro
  src/pages/case-studies.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

Drop the Pages upload from cv-generate
  .github/workflows/cv-generate.yml
Due: none

Add a Case Studies page and tidy the site around it (#46)
  .github/workflows/cv-generate.yml
  src/components/RepoGallery.jsx
  src/components/features/FlowSteps.astro
  src/layouts/CyberpunkLayout.astro
  src/layouts/Layout.astro
  src/pages/case-studies.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

Add an in-depth HIL verification case study and fix the phone nav
  src/components/features/BenchDiagram.astro
  src/components/features/FlowSteps.astro
  src/components/features/TimingDiagram.astro
  src/layouts/CyberpunkLayout.astro
  src/pages/case-studies.astro
  src/pages/case-studies/hil-verification.astro
  src/pages/index.astro
Due: prettier --write

Add an in-depth HIL verification case study and fix the phone nav (#47)
  src/components/features/BenchDiagram.astro
  src/components/features/FlowSteps.astro
  src/components/features/TimingDiagram.astro
  src/layouts/CyberpunkLayout.astro
  src/pages/case-studies.astro
  src/pages/case-studies/hil-verification.astro
  src/pages/index.astro
Due: prettier --write

Add a MIA case study
  src/pages/case-studies.astro
  src/pages/case-studies/mia.astro
Due: prettier --write

Add a MIA case study (#48)
  src/pages/case-studies.astro
  src/pages/case-studies/mia.astro
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write: (((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.astro)) or (any of: *.{md,json,css,html})
