Repository sparesparrow/sparrow-ai-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Updates
  index.html
  js/app.js
  styles/main.css
Due: eslint --fix, prettier --write

Updates
  index.html
Due: prettier --write

feat: complete homepage optimization and testing
  README.md
  cypress.config.cjs
  cypress.config.js
  cypress/e2e/homepage.cy.js
  public/js/app.js
  public/styles/main.css
  src/components/LanguageToggle.jsx
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

Updates
  assets/index.BvIVhM4O.css
  index.html
Due: prettier --write

fixes and corrections
  SECURITY.md
  astro.config.mjs
  cypress/e2e/homepage.cy.js
  public/og-image.png
  public/scripts/enhanced-cyberpunk.js
  src/layouts/Layout.astro
  src/pages/index.astro
  src/scripts/enhanced-cyberpunk.js
  src/styles/main.css
Due: eslint --fix, prettier --write

Updates
  assets/LanguageToggle.jgmCScck.js
  assets/index.BvIVhM4O.css
  assets/index.Dlin5x9Z.css
  index.html
  og-image.png
  scripts/enhanced-cyberpunk.js
Due: eslint --fix, prettier --write

Updates
  MarkdownTest/index.html
  agentic-workflow/index.html
  index.html
  mermaid-editor/index.html
  security/index.html
Due: prettier --write

layouts corrections
  cypress/e2e/homepage.cy.js
  src/layouts/Layout.astro
  src/pages/MarkdownTest.astro
  src/pages/agentic-workflow.astro
  src/pages/index.astro
  src/pages/mermaid-editor.astro
  src/pages/security.astro
Due: eslint --fix, prettier --write

js, css, astro integration
  .astro/collections/articles.schema.json
  .astro/content.d.ts
  .gitignore
  .vscode/settings.json
  astro.config.mjs
  fix_build_issues.sh
  package.json
  pnpm-lock.yaml
  public/js/cyberpunk.js
  public/scripts/enhanced-cyberpunk.js
  public/style.css
  public/styles/main.css
  public/styles/style.css
  src/api/chatbot.js
  src/api/chatbot.test.js
  src/content.config.js
  src/layouts/Layout.astro
  src/pages/MarkdownTest.astro
  src/pages/agentic-workflow.astro
  src/pages/chatbot.astro
  src/pages/index.astro
  src/pages/mermaid-editor.astro
  src/pages/security.astro
  src/pages/todo.astro
  src/scripts/enhanced-cyberpunk.js
  src/utils/base-path.js
  src/utils/paths.js
  tailwind.config.js
  tsconfig.json
  vite.config.js
Due: eslint --fix, prettier --write

simplification
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/assets/js/app.js
  src/js/app.js
  src/layouts/Layout.astro
  src/layouts/MainLayout.astro
  src/pages/chatbot.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

remove unused
  astro.config.mjs
Due: none

fix
  astro.config.mjs
  public/assets/js/app.js
  public/js/app.js
  src/js/app.js
  src/pages/index.astro
Due: eslint --fix, prettier --write

Updates
  MarkdownTest/index.html
  agentic-workflow/index.html
  assets/MarkdownTest.CHzy0mta.css
  index.html
  js/app.js
  mermaid-editor/index.html
  scripts/cyberpunk.js
  scripts/enhanced-cyberpunk.js
  security/index.html
  style.css
  styles/main.css
  styles/style.css
Due: eslint --fix, prettier --write

restructure
  .astro/collections/articles.schema.json
  .astro/collections/projects.schema.json
  astro.config.mjs
  public/locales/cs.json
  public/locales/en.json
  src/components/App.jsx
  src/components/Logo.jsx
  src/components/charts/PortfolioProjectsTable.jsx
  src/components/core/Footer.jsx
  src/components/core/Header.jsx
  src/components/core/LanguageToggle.jsx
  src/components/core/Logo.jsx
  src/components/features/AgenticWorkflowShowcase.jsx
  src/components/features/CyberpunkFeatures.astro
  src/components/features/CyberpunkHero.astro
  src/components/features/PhilosophySection.astro
  src/components/features/RealProjects.astro
  src/components/markdown/MarkdownTest.jsx
  src/components/markdown/MarkdownViewer.jsx
  src/components/markdown/MarkdownViewer.txt
  src/components/markdown/MermaidLiveEditor.jsx
  src/content.config.js
  src/layouts/Layout.astro
  src/pages/MarkdownTest.astro
  src/pages/agentic-workflow.astro
  src/pages/chatbot.astro
  src/pages/index.astro
  src/pages/mermaid-editor.astro
  src/pages/security.astro
  src/pages/todo.astro
  tsconfig.json
Due: eslint --fix, prettier --write

workflow fixes
  .astro/collections/articles.schema.json
  .astro/collections/projects.schema.json
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  src/layouts/Layout.astro
  src/pages/MarkdownTest.astro
  src/pages/agentic-workflow.astro
  src/pages/mermaid-editor.astro
Due: prettier --write

Updates
  MarkdownTest/index.html
  agentic-workflow/index.html
  index.html
  locales/cs.json
  locales/en.json
  mermaid-editor/index.html
  security/index.html
Due: prettier --write

Updates
  MarkdownTest/index.html
  agentic-workflow/index.html
  assets/MarkdownTest.CHzy0mta.css
  assets/MarkdownTest.CTMXjiVc.css
  assets/index.Bpn3gCNt.css
  assets/index.Dlin5x9Z.css
  index.html
  mermaid-editor/index.html
  security/index.html
Due: prettier --write

imports added
  astro.config.mjs
  jsconfig.json
  src/components/Navigation.astro
  src/components/markdown/MarkdownViewer.jsx
  src/layouts/Layout.astro
  src/pages/index.astro
  src/utils/url.js
  tsconfig.json
Due: eslint --fix, prettier --write

path fix
  src/components/AgenticWorkflowsShowcase.astro
  src/layouts/CyberpunkLayout.astro
Due: prettier --write

Updates
  agentic-workflow/index.html
  chatbot/index.html
Due: prettier --write

path fix
  .astro/data-store.json
  .astro/settings.json
  astro.config.mjs
  jsconfig.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  public/css/main.css
  public/js/app.js
  src/css/main.css
  src/layouts/Layout.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

fixes
  .gitignore
  jsconfig.json
  pnpm-lock.yaml
  src/layouts/Layout.astro
  src/pages/index.astro
  src/utils/url.js
Due: eslint --fix, prettier --write

fix
  src/pages/index.astro
Due: prettier --write

correction
  src/layouts/Layout.astro
Due: prettier --write

tailwind update
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Due: eslint --fix, prettier --write

Updates
  MarkdownTest/index.html
  _astro/LanguageToggle.BLN9havD.js
  _astro/MarkdownTest.BOEJx1q3.css
  _astro/MarkdownTest.CvJ6lYne.js
  _astro/SPA.RRmRTWW6.js
  _astro/ThemeToggle.BJWDEZca.js
  _astro/chatbot.CyFBMu53.css
  _astro/client.VjKytuWx.js
  _astro/index.BVCr90Bx.js
  _astro/index.cX-c0mI-.css
  _astro/jsx-runtime.Cb1L4DVx.js
  agentic-workflow/index.html
  assets/LanguageToggle.jgmCScck.js
  assets/MarkdownTest.CTMXjiVc.css
  assets/chatbot.B9ud5HDS.css
  assets/index.Bpn3gCNt.css
  chatbot/index.html
  css/main.css
  index.html
  infographics/SPA/index.html
  js/app.js
  mermaid-editor/index.html
  security/index.html
Due: eslint --fix, prettier --write

Updates
  MarkdownTest/index.html
  _astro/RepoGallery.DcMBOtRT.js
  _astro/ThemeSelect.BAbVKy5o.js
  agentic-workflow/index.html
  index.html
  mermaid-editor/index.html
  security/index.html
Due: eslint --fix, prettier --write

Updates
  MarkdownTest/index.html
  _astro/MarkdownTest.BOEJx1q3.css
  _astro/MarkdownTest.CENRthXl.css
  _astro/SPA.BGao2nDv.js
  _astro/index.BtfT8KQX.css
  _astro/index.cX-c0mI-.css
  agentic-workflow/index.html
  chatbot/index.html
  index.html
  infographics/Infographic1/index.html
  infographics/Infographic2/index.html
  infographics/Infographic3/index.html
  infographics/SPA/index.html
  js/index.js
  mermaid-editor/index.html
  security/index.html
Due: eslint --fix, prettier --write

bugs fixed
  cypress/e2e/assets.cy.js
  cypress/e2e/base-url.cy.js
  cypress/e2e/routes.cy.js
  package.json
  src/components/GithubPeek.jsx
  src/components/markdown/Mermaid.astro
  src/components/markdown/MermaidLiveEditor.jsx
  src/css/main.css
  src/layouts/Layout.astro
  src/pages/index.astro
  src/pages/mermaid-editor.astro
  src/pages/philosophy.astro
Due: eslint --fix, prettier --write

Updates
  MarkdownTest/index.html
  agentic-workflow/index.html
  js/index.js
  mermaid-editor/index.html
  security/index.html
Due: eslint --fix, prettier --write

feat: add multilingual support and language toggle
  .github/workflows/cv-generate.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  pnpm-lock.yaml
  src/components/RepoGallery.jsx
  src/components/core/LanguageToggle.jsx
  src/layouts/CyberpunkLayout.astro
  src/pages/index.astro
  src/pages/philosophy.astro
Due: eslint --fix, prettier --write

fixes
  public/js/index.js
  src/layouts/Layout.astro
  src/pages/index.astro
  src/pages/philosophy.astro
Due: eslint --fix, prettier --write

fiix
  public/js/index.js
Due: eslint --fix, prettier --write

docs: implement i18n across site with Czech/English translations
  .github/workflows/content-sync.yml
  .github/workflows/cv-generate.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  pnpm-lock.yaml
  src/components/RepoGallery.jsx
  src/components/__tests__/i18n.test.jsx
  src/components/core/LanguageToggle.jsx
  src/layouts/CyberpunkLayout.astro
  src/pages/index.astro
  src/pages/philosophy.astro
Due: eslint --fix, prettier --write

Enhance multilingual support, add CV generation, and update site content
  .github/workflows/deploy.yml
  src/components/Header.jsx
  src/components/core/LanguageToggle.jsx
  src/layouts/CyberpunkLayout.astro
  src/pages/index.astro
  src/pages/philosophy.astro
Due: eslint --fix, prettier --write

f
  src/pages/index.astro
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write: (((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.astro)) or (any of: *.{md,json,css,html})
