Repository sparesparrow/sparrow-ai-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{js,jsx,ts,tsx,astro,md,json,css,html}": ["prettier --write"]
}

fix: comprehensive ESLint and URL fixes
  .eslintrc.scripts.cjs
  cypress/e2e/infographics.cy.js
  fix-all-issues.sh
  fix-eslint-issues.sh
  package.json
  scripts/fix-urls.cjs
  scripts/validate-urls.cjs
  src/components/TodoDashboard.jsx
  src/components/infographics/SPA.jsx
Due: eslint --fix, prettier --write

fix: finální oprava všech URL problémů
  public/assets/ai-hero.svg
  scripts/fix-urls.cjs
  scripts/fix-urls.mjs
Due: none

Updates
  assets/ai-hero.svg
  infographics/Infographic1/index.html
  infographics/Infographic2/index.html
  infographics/Infographic3/index.html
  infographics/SPA/index.html
Due: prettier --write

fix: odstranění všech nepoužitých proměnných
  scripts/.eslintrc.cjs
  scripts/fix-urls.cjs
  scripts/validate-urls.cjs
  src/components/TodoDashboard.jsx
  src/components/infographics/SPA.jsx
Due: eslint --fix, prettier --write

chore(cleanup): remove obsolete fix/patch scripts and temp files
  fix-all-370-errors.sh
  fix-all-critical-errors.sh
  fix-all-errors.sh
  fix-all-eslint-errors.sh
  fix-all-issues.sh
  fix-all-lint-errors.sh
  fix-analysis.md
  fix-eslint-issues.sh
  fix_critical_build.sh
  fix_remaining_errors.sh
  fix_typescript_warnings.sh
Due: prettier --write

fix: odstranění všech ESLint chyb a TypeScript varování
  .eslintrc.scripts.cjs
  scripts/.eslintrc.cjs
  scripts/fix-urls.cjs
  scripts/validate-urls.cjs
  src/components/infographics/SPA.jsx
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

fix(scripts): oprava umístění shebang na první řádek
  scripts/.eslintrc.cjs
  scripts/fix-urls.cjs
  scripts/validate-urls.cjs
Due: none

enhance: vylepšené URL opravné skripty + provedené opravy
  scripts/fix-urls.cjs
  scripts/validate-urls.cjs
  src/components/infographics/SPA.jsx
Due: eslint --fix, prettier --write

fix(api): oprava Astro API route handlers warnings
  scripts/fix-urls.cjs
  scripts/validate-urls.cjs
  src/pages/api/chatbot.js
  src/pages/api/pdf.js
Due: eslint --fix, prettier --write

fix(lint): vyřešení všech ESLint chyb v scripts a API souborech
  astro.config.backup.1753668841
  fix.sh
  npm_run_build-output.txt
  npm_run_lint-output.txt
  package-updated.json
  prettierrc-new.mjs
  scripts/.eslintrc.json
  scripts/fix-urls.cjs
  scripts/validate-urls.cjs
  src/pages/api/chatbot.js
  src/pages/api/pdf.js
Due: eslint --fix, prettier --write

feat: add custom ai-hero.svg from avatar
  public/assets/ai-hero.png
  public/assets/ai-hero.svg
Due: none

Updates
  agentic-workflow/index.html
  api/chatbot
  api/pdf
  assets/MarkdownTest.CCs5RQeZ.css
  assets/MarkdownTest.CmpWOr7A.css
  assets/ai-hero.png
  assets/ai-hero.svg
  assets/index.BBD3MzcC.css
  assets/index.BKiG-KqI.css
  index.html
  security/index.html
  test/index.html
  todo/index.html
Due: prettier --write

refactor: sjednocení BASE_URL napříč celým projektem
  astro.config.mjs
  babel.config.cjs
  cypress/e2e/base-url-paths.cy.js
  jest.config.mjs
  jest.setup.js
  scripts/fix-urls.cjs
  src/components/HomePage.jsx.backup
  src/pages/index.astro
  src/utils/base-path.js
  src/utils/paths.js
  src/utils/url-helpers.js
  src/utils/url.js
Due: eslint --fix, prettier --write

fix(utils): oprava rekurze a self-importu v url.js
  src/utils/url.js
Due: eslint --fix, prettier --write

Updates
  MarkdownTest/index.html
  agentic-workflow/index.html
  assets/MarkdownTest.CCs5RQeZ.css
  assets/MarkdownTest.CICuRJLG.css
  assets/MarkdownTest.CRDyLJf5.js
  assets/MarkdownTest.DGhVG49l.js
  assets/Sparkles.Cxc7C6D2.js
  assets/client.CTJTt880.js
  assets/client.DUsjeIsj.js
  assets/index.BKiG-KqI.css
  assets/index.Dhi-S4Ah.js
  assets/index.Dkaqzkgy.js
  assets/index.vfD4mCvE.js
  assets/jsx-runtime.s5l94Kta.js
  index.html
  security/index.html
  test/index.html
  todo/index.html
Due: eslint --fix, prettier --write

docs(sync): Update external project documentation
  src/content/projects/human-action.md
  src/content/projects/mcp-project-orchestrator.md
  src/content/projects/mcp-prompts-rs.md
  src/content/projects/mcp-prompts.md
Due: prettier --write

feat: integrate cyberpunk theme with interactive features
  astro.config.mjs
  build-cyberpunk.sh
  cypress/e2e/base-url-paths.cy.js
  mcp-mermaid-generator/__pycache__/main.cpython-313.pyc
  src/components/CyberpunkFeatures.astro
  src/components/CyberpunkHero.astro
  src/components/Navigation.astro
  src/layouts/CyberpunkLayout.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/cyberpunk.css
Due: eslint --fix, prettier --write

feat: integrate cyberpunk theme with interactive features
  src/scripts/cyberpunk.js
Due: eslint --fix, prettier --write

feat: integrate rich portfolio content with cyberpunk styling
  .astro/data-store.json
  .astro/settings.json
  src/components/CyberpunkFeatures.astro
  src/components/CyberpunkHero.astro
  src/components/PhilosophySection.astro
  src/components/RealProjects.astro
  src/layouts/CyberpunkLayout.astro
  src/pages/index.astro
  src/scripts/enhanced-cyberpunk.js
  vite.config.js
Due: eslint --fix, prettier --write

feat: Add 'Agentic Workflows & Anthropic Research' visual section with recommended diagrams, research links, and rich agentic content on homepage
  public/assets/images/ai-hero.svg
  src/components/AgenticWorkflowsShowcase.astro
  src/layouts/CyberpunkLayout.astro
  src/pages/index.astro
Due: prettier --write

fix: prefix asset paths with BASE_URL, add Chatbot & Mermaid links, embed ElevenLabs Convai widget, add Glama + MCPHub buttons
  src/components/AgenticWorkflowsShowcase.astro
  src/layouts/CyberpunkLayout.astro
Due: prettier --write

fix: resolve BASE_URL asset path issues and enhance homepage
  fix-base-assets-nav-widget.sh
  src/components/AgenticWorkflowsShowcase.astro
  src/layouts/CyberpunkLayout.astro
  src/pages/chatbot.astro
  src/pages/index.astro
Due: prettier --write

chore(build): suppress TS diagnostics in inline layout script with /* @ts-nocheck */ + is:inline
  src/layouts/CyberpunkLayout.astro
Due: prettier --write

fix(build): add @astrojs/react integration to fix NoMatchingRenderer error
  astro.config.mjs
  package-lock.json
  package.json
Due: prettier --write

Updates
  MarkdownTest/index.html
  _astro/MarkdownTest.CULUUWMV.css
  _astro/MarkdownTest.D-5XWKc4.js
  _astro/chatbot.CyFBMu53.css
  _astro/client.DUsjeIsj.js
  _astro/index.oGtFNEZH.css
  _astro/index.vfD4mCvE.js
  agentic-workflow/index.html
  assets/MarkdownTest.CICuRJLG.css
  assets/MarkdownTest.DGhVG49l.js
  assets/Sparkles.Cxc7C6D2.js
  assets/client.CTJTt880.js
  assets/images/ai-hero.svg
  assets/index.Dhi-S4Ah.js
  assets/index.Dkaqzkgy.js
  assets/jsx-runtime.s5l94Kta.js
  chatbot/index.html
  index.html
  security/index.html
  test/index.html
  todo/index.html
Due: eslint --fix, prettier --write

chore: finish JS refactor, remove leftovers, scaffold FastAPI backend
  app-cyberpunk.js
  app-files.js
  astro.config.mjs
  backend/mcp-mermaid-generator/Dockerfile
  backend/mcp-mermaid-generator/main.py
  backend/mcp-mermaid-generator/requirements.txt
  chatbot-api-fixed.js
  cypress/e2e/fastapi.cy.js
  cypress/e2e/markdown-viewer.cy.js
  diff.txt
  eslint.config.js
  fix-base-assets-nav-widget.sh
  index-cyberpunk.html
  index.html
  src/components/HomePage.jsx.backup
  src/pages/api/diagrams.js
  src/pages/api/pdf.js
  style-cyberpunk.css
  style.css
  tailwind.config.js
Due: eslint --fix, prettier --write

javascript
  astro.config.mjs
  cypress.config.cjs
  eslint.config.js
  jest.config.mjs
  package-lock.json
  package.json
  scripts/.eslintrc.json
  scripts/fix-urls.cjs
  scripts/validate-urls.cjs
  src/api/chatbot.test.js
  src/content.config.js
  src/content/projects/human-action.md
  src/content/projects/mcp-project-orchestrator.md
  src/content/projects/mcp-prompts-rs.md
  src/content/projects/mcp-prompts.md
  src/layouts/Layout.astro
  src/pages/index.astro
  src/scripts/cyberpunk.js
  src/scripts/enhanced-cyberpunk.js
  src/styles/global.css
  tsconfig.json
Due: eslint --fix, prettier --write

js only
  .astro/content-assets copy.mjs
  .astro/data-store.json
  .babelrc
  .editorconfig
  astro.config.mjs
  backend/pdf-generator/enhanced_pdf_generator.py
  backend/pdf-generator/generate_pdf.py
  backend/pdf-generator/improved-pdf-generator.py
  backend/pdf-generator/minimal-theme-css.css
  backend/pdf-generator/modern-theme-css.css
  backend/pdf-generator/organize_cv.py
  backend/pdf-generator/professional-theme-css.css
  cypress.config.cjs
  cypress/support/commands.js
  cypress/support/e2e.js
  diff.txt
  eslint.config.js
  jest.config.mjs
  jest.setup.js
  package-lock.json
  package.json
  public/assets/ai-hero.svg
  src/content/projects/mcp-project-orchestrator.md
  src/pages/index.astro
  src/pages/infographics/SPA.astro
  src/scripts/cyberpunk.js
  src/scripts/enhanced-cyberpunk.js
  src/styles/base.css
  src/styles/minimal.css
  src/styles/modern.css
  src/styles/professional.css
  src/styles/styles.css
  src/styles/tech.css
  style.css
  tsconfig.json
Due: eslint --fix, prettier --write

.
  jest.config.mjs
  package-lock.json
  public/style.css
Due: prettier --write

fix(build): drop TS, move cyberpunk script to /public, clean legacy dirs, modernise GH Pages workflow
  .astro/content.d.ts
  .astro/types.d.ts
  .github/workflows/deploy.yml
  public/scripts/cyberpunk.js
  src/pages/index.astro
  tsconfig.json
Due: eslint --fix, prettier --write

feat(lint): configure eslint with astro, react, and a11y plugins
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix(lint): resolve babel typescript preset and eslint config issues
  .astro/content.d.ts
  .astro/types.d.ts
  .lintstagedrc.json
  .prettierrc
  .prettierrc.json
  astro-i18n.config.mjs
  astro.config.mjs
  babel.config.js
  eslint.config.js
  package-lock.json
  package.json
  prettier.config.js
  scripts/.eslintrc.json
  scripts/fix-urls.cjs
  scripts/validate-urls.cjs
  svelte.config.js
Due: eslint --fix, prettier --write

fix(lint): resolve babel config conflict and update ESLint parsers
  babel.config.cjs
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix(build): resolve react-markdown import error and build configuration
  .astro/content-assets copy.mjs
  .astro/data-store.json
  .astro/settings.json
  .devcontainer/devcontainer.json
  astro.config.mjs
  astro.config.mjs.backup
  package-lock.json
  package.json
  src/layouts/CyberpunkLayout.astro
  tailwind.config.js
  tailwind.config.js.backup
Due: eslint --fix, prettier --write

fix(build): comprehensive build restoration
  astro.config.mjs.backup.1753851502
  eslint.config.js
  eslint.config.js.backup.1753851502
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix(build): add missing @tippyjs/react dependency to fix rollup import resolution
  package-lock.json
  package.json
Due: prettier --write
