Repository sparesparrow/sparrow-ai-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.astro": ["prettier --write"]
}

chore(tooling): simplify deps & ESLint config – remove react-hooks plugin crash
  .lintstagedrc.json
  eslint.config.js
  package.json
Due: eslint --fix

fix: Resolve all ESLint errors found in code review
  cypress/e2e/advanced-user-flow.cy.js
  cypress/e2e/infographics.cy.js
  src/components/MarkdownViewer.jsx
  src/components/markdown/Mermaid.astro
  src/layouts/MainLayout.astro
  src/pages/MarkdownTest.astro
  src/pages/agentic-workflow.astro
  src/pages/index.astro
  src/pages/infographics/Infographic1.astro
  src/pages/infographics/Infographic2.astro
  src/pages/infographics/Infographic3.astro
  src/pages/infographics/SPA.astro
  src/pages/mermaid-editor.astro
  src/pages/security.astro
  src/pages/test.astro
  src/pages/todo.astro
Due: eslint --fix, prettier --write

fix: Install missing dependencies and resolve module resolution errors
  package-lock.json
Due: none

fixes
  .lintstagedrc.json
  .prettierrc.json
  eslint.config.js
  package-lock.json
  package.json
  tailwind.config.js
Due: eslint --fix

fixes
  package-lock.json
  package.json
Due: none

fix: Resolve all dependency conflicts and upgrade to ESLint 9
  .lintstagedrc.json
  .prettierrc.json
  eslint.config.js
  package-lock.json
  package.json
  tailwind-config-fixed.js
  tailwind.config.js
Due: eslint --fix

fix: Resolve all dependency conflicts
  package-lock.json
  package.json
Due: none

feat: enhanced package.json with improved scripts and configuration
  package.json
Due: none

feat: enhanced package.json with improved scripts and configuration
  package-lock.json
  package.json
Due: none

docs(sync): Update external project documentation
  src/content/projects/human-action.md
  src/content/projects/mcp-project-orchestrator.md
  src/content/projects/mcp-prompts-rs.md
  src/content/projects/mcp-prompts.md
Due: none

eslint fixes
  .eslintrc.cjs
  .eslintrc.json
  astro.config.mjs
  babel.config.cjs
  cypress.config.cjs
  jest.config.cjs
  jest.config.mjs
  package-lock.json
  package.json
Due: none

Fix package.json and config files
  .astro/astro/content.d.ts
  .astro/collections/projects.schema.json
  .astro/content-assets.mjs
  .astro/content-modules.mjs
  .astro/content.d.ts
  .astro/data-store.json
  .astro/settings.json
  .astro/types.d.ts
  .eslintrc.cjs
  babel.config.cjs
  cypress.config.cjs
  eslint.config.js
  jest.config.cjs
  jest.config.mjs
  jest.setup.js
  package-lock.json
  package.json
Due: eslint --fix

Fix critical build-blocking errors (front-matter, ts-nocheck, MarkdownTest syntax, MarkdownViewer imports, duplicate keys)
  eslint.config.js
  jest.config.mjs
  src/components/App.jsx
  src/components/MarkdownTest.jsx
  src/components/MarkdownViewer.jsx
  src/pages/index.astro
Due: eslint --fix, prettier --write

Fix lint/build errors: close index.astro front-matter, fix MarkdownTest & Viewer, remove ts-nocheck, duplicate keys, relax no-useless-escape
  .husky/pre-commit
  eslint.config.js
  src/components/App.jsx
  src/components/MarkdownTest.jsx
  src/components/MarkdownViewer.jsx
  src/pages/index.astro
Due: eslint --fix, prettier --write

Fix all critical lint errors: repair index.astro front-matter, remove duplicate imports/keys, fix unused vars
  fix-all-critical-errors.sh
  fix_remaining_errors.sh
  src/components/App.jsx
  src/components/MarkdownTest.jsx
  src/components/MarkdownViewer.jsx
  src/pages/index.astro
Due: eslint --fix, prettier --write

Fix critical Astro build errors
  src/components/MarkdownTest.jsx
  src/components/MarkdownViewer.jsx
  src/pages/MarkdownTest.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

Fix critical Astro build errors
  src/pages/index.astro
Due: prettier --write

fixes
  .astro/collections/projects.schema.json
  .astro/content-assets.mjs
  .astro/content-modules.mjs
  .astro/content.d.ts
  .astro/types.d.ts
  MermaidLiveEditor-fixed.jsx
  PrimaryButton-fixed.jsx
  SecondaryButton-fixed.jsx
  content-config-fixed.ts
  eslint.config.js
  i18n-fixed.jsx
Due: eslint --fix

fix: correct ESLint flat config globals syntax
  eslint.config.js
  eslint.config.js.broken
Due: eslint --fix

updates
  app.js
  chatbot-api-fixed.js
  cypress.config.cjs
  package-lock.json
  package.json
Due: eslint --fix

fix(jsx): restore malformed map/URL patterns and repair broken attributes – resolves TS1005, TS1381, TS1382 cascade
  src/components/App.jsx
  src/components/infographics/Infographic1.jsx
  src/components/infographics/Infographic2.jsx
  src/components/infographics/Infographic3.jsx
  src/components/infographics/SPA.jsx
Due: eslint --fix

fix: resolve i18n test failure, suppress unused vars warnings, update TODO.md
  .github/workflows/cv-generate.yml
  .github/workflows/generate-cv-pdf.yml
  TODO.md
  babel.config.cjs
  jest.config.mjs
  jest.setup.js
  package-lock.json
  package.json
  src/components/App.jsx
  src/components/GithubRepoTooltip.jsx
  src/components/HomePage.jsx
  src/components/MarkdownViewer.jsx
  src/components/MermaidLiveEditor.jsx
  src/components/Sparkles.jsx
  src/components/TodoDashboard.jsx
  src/components/__tests__/i18n.test.jsx
  src/components/__tests__/theme.test.jsx
  src/components/infographics/Infographic1.jsx
  src/components/infographics/Infographic2.jsx
  src/components/infographics/Infographic3.jsx
  src/components/infographics/SPA.jsx
  src/components/ui/Modal.jsx
Due: eslint --fix

Updates
  MarkdownTest/index.html
  _astro/MarkdownTest.Cfekxlil.js
  _astro/index.DMLB_xs8.css
  agentic-workflow/index.html
  assets/MarkdownTest.BT-TaG__.js
  assets/MarkdownTest.DUjsd8uy.css
  assets/client.DUsjeIsj.js
  assets/css/typography.css
  assets/index.Cey07sRO.css
  assets/index.vfD4mCvE.js
  index.html
  infographics/Infographic1/index.html
  infographics/Infographic2/index.html
  infographics/Infographic3/index.html
  infographics/SPA/index.html
  security/index.html
  test/index.html
  todo/index.html
Due: eslint --fix

deployed
  jest.config.mjs
  jest.setup.js
  test/__mocks__/astroStub.js
Due: eslint --fix

feat: implement unused variables and clean up imports
  app.js
  chatbot-api-fixed.js
  cypress/e2e/infographics.cy.js
  eslint.config.js
  src/components/App.jsx
  src/components/GithubRepoTooltip.jsx
  src/components/HomePage.jsx
  src/components/MarkdownViewer.jsx
  src/components/MermaidLiveEditor.jsx
  src/components/Sparkles.jsx
  src/components/TodoDashboard.jsx
  src/components/ui/Modal.jsx
  src/i18n.js
Due: eslint --fix

fix: comprehensive release preparation
  .github/workflows/deploy.yml
  .gitignore
  README.md
  TODO.md
  app.js
  astro.config.mjs
  jest.setup.js
  package-lock.json
  package.json
  src/api/generate-pdf.js
  src/components/__tests__/i18n.test.jsx
Due: eslint --fix

lint and test pass
  cypress/e2e/infographics.cy.js
  src/api/generate-pdf.js
  src/components/__tests__/i18n.test.jsx
  src/pages/api/chatbot.js
  src/pages/api/pdf.js
  src/utils/i18n.js
Due: eslint --fix

Updates
  MarkdownTest/index.html
  agentic-workflow/index.html
  assets/MarkdownTest.BT-TaG__.js
  assets/MarkdownTest.BsbPcJkX.js
  assets/MarkdownTest.CmpWOr7A.css
  assets/MarkdownTest.DUjsd8uy.css
  assets/index.BBD3MzcC.css
  assets/index.Cey07sRO.css
  index.html
  infographics/Infographic1/index.html
  infographics/Infographic2/index.html
  infographics/Infographic3/index.html
  infographics/SPA/index.html
  security/index.html
  test/index.html
  todo/index.html
Due: eslint --fix

chore: fix all build warnings and finalize deployment setup
  package.json
  src/components/AgenticWorkflowShowcase.jsx
  src/components/GithubRepoTooltip.jsx
  src/components/HomePage.jsx
  src/components/Sparkles.jsx
  src/components/TodoDashboard.jsx
  src/components/__tests__/i18n.test.jsx
  src/components/__tests__/theme.test.jsx
  src/components/infographics/Infographic1.jsx
  src/components/infographics/Infographic2.jsx
  src/components/infographics/Infographic3.jsx
  src/components/infographics/SPA.jsx
  src/components/ui/Modal.jsx
  src/components/ui/SkeletonLoader.jsx
  src/env.d.ts
  src/pages/api/chatbot.js
  src/pages/api/pdf.js
  test/__mocks__/astroStub.js
Due: eslint --fix

fix: correct language-prefixed URLs, image paths, add link-checker tests, patch Mermaid CI
  .github/workflows/mcp-mermaid-generator-ci.yml
  cypress/e2e/links.cy.js
  package.json
  src/components/Header.jsx
  src/components/Logo.jsx
  src/utils/base-path.js
  src/utils/paths.js
Due: eslint --fix

fix: comprehensive URL and asset path corrections
  .github/workflows/deploy.yml
  .github/workflows/mcp-mermaid-generator-ci.yml
  astro.config.mjs
  package-lock.json
  package.json
  public/manifest.json
  scripts/fix-urls.js
  scripts/fix-urls.mjs
  src/components/Navigation.astro
  src/layouts/Layout.astro
  src/utils/url-helpers.js
Due: eslint --fix, prettier --write

Updates
  MarkdownTest/index.html
  assets/MarkdownTest.BsbPcJkX.js
  assets/MarkdownTest.CRDyLJf5.js
  index.html
  manifest.json
Due: eslint --fix
