Repository sparesparrow/sparrow-ai-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.astro": ["prettier --write"],
  "*.{md,json,css,html}": ["prettier --write"]
}

fix(lint): overhaul eslint config and fix all warnings
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Updates
  MarkdownTest/index.html
  infographics/SPA/index.html
Due: prettier --write

refactor(lint): simplify eslint to pure javascript setup
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

deploy: aceb00943bbc99cf119a066b41e6e47b47d113c8
  MarkdownTest/index.html
  infographics/SPA/index.html
Due: prettier --write

Updates
  <img src={assetUrl('favicon.png
  MarkdownTest/index.html
  _astro/client.svelte.CkBYLGV7.js
  agentic-workflow/index.html
  assets/MarkdownTest.Da6kTluZ.css
  assets/MarkdownTest.TLgEQVfN.js
  assets/SPA.CfYFSO1G.js
  assets/chatbot.B9ud5HDS.css
  assets/client.CTJTt880.js
  assets/index.CWUPr-hp.css
  assets/index.Dhi-S4Ah.js
  assets/index.Dkaqzkgy.js
  assets/jsx-runtime.s5l94Kta.js
  chatbot/index.html
  favicon.svg
  href={`${import.meta.env.BASE_URL}favicon.svg
  https:/cdnl.tblsft.com/sites/default/files/inline-images/Inline-607-monosemanticity-fig1-01-2560x896.png
  https:/i0.wp.com/www.atlassian.com/blog/wp-content/uploads/2024/02/Agentic-workflow-diagram.jpg
  https:/ppl-ai-code-interpreter-files.s3.amazonaws.com/web/direct-files/fa00de8cb9cff9b70e6117d977bba79b/240de188-337a-4974-8574-5e546a075778/506e5cd8.png
  https:/ppl-ai-code-interpreter-files.s3.amazonaws.com/web/direct-files/fa00de8cb9cff9b70e6117d977bba79b/518c43c2-2e1d-4aed-ade2-ac2db49aca62/af3a09f4.png
  index.html
  infographics/SPA/index.html
  security/index.html
  src={`${import.meta.env.BASE_URL}assets/images/ai-hero.svg
  src={`${import.meta.env.BASE_URL}assets/images/claude4-system-card-img-008.png
  test/index.html
  todo/index.html
Due: eslint --fix, prettier --write

fix(deps): install missing dependencies and configure vite aliases
  .astro/data-store.json
  .astro/settings.json
  .github/workflows/deploy.yml
  astro.config.mjs
  eslint.config.js
  jsconfig.json
  package-lock.json
  package.json
  public/<img src={assetUrl('favicon.png
  public/favicon.svg
  public/href={`${import.meta.env.BASE_URL}favicon.svg
  public/https:/cdnl.tblsft.com/sites/default/files/inline-images/Inline-607-monosemanticity-fig1-01-2560x896.png
  public/https:/i0.wp.com/www.atlassian.com/blog/wp-content/uploads/2024/02/Agentic-workflow-diagram.jpg
  public/https:/ppl-ai-code-interpreter-files.s3.amazonaws.com/web/direct-files/fa00de8cb9cff9b70e6117d977bba79b/240de188-337a-4974-8574-5e546a075778/506e5cd8.png
  public/https:/ppl-ai-code-interpreter-files.s3.amazonaws.com/web/direct-files/fa00de8cb9cff9b70e6117d977bba79b/518c43c2-2e1d-4aed-ade2-ac2db49aca62/af3a09f4.png
  public/src={`${import.meta.env.BASE_URL}assets/images/ai-hero.svg
  public/src={`${import.meta.env.BASE_URL}assets/images/claude4-system-card-img-008.png
  src/components/index.jsx
  src/i18n.js
  src/i18n.jsx
  tailwind.config.js
Due: eslint --fix, prettier --write

Updates
  MarkdownTest/index.html
  _astro/MarkdownTest.Da6kTluZ.css
  _astro/MarkdownTest._4_nwE3I.js
  _astro/SPA.CfYFSO1G.js
  _astro/chatbot.B9ud5HDS.css
  _astro/client.CTJTt880.js
  _astro/index.CWUPr-hp.css
  _astro/index.Dhi-S4Ah.js
  _astro/index.Dkaqzkgy.js
  _astro/jsx-runtime.s5l94Kta.js
  agentic-workflow/index.html
  chatbot/index.html
  index.html
  infographics/SPA/index.html
  security/index.html
  test/index.html
  todo/index.html
Due: eslint --fix, prettier --write

fix(critical): comprehensive cleanup of commit 617861ea issues
  .astro/data-store.json
  .astro/settings.json
  astro.config.mjs
  babel.config.js
  eslint.config.js
  package-lock.json
  package.json
  public/<img src={assetUrl('favicon.png
  public/assets/images/ai-hero.svg
  public/favicon.svg
  public/href={`${import.meta.env.BASE_URL}favicon.svg
Due: eslint --fix, prettier --write

Updates
  <img src={assetUrl('favicon.png
  MarkdownTest/index.html
  agentic-workflow/index.html
  assets/MarkdownTest.Da6kTluZ.css
  assets/MarkdownTest.TLgEQVfN.js
  assets/SPA.CfYFSO1G.js
  assets/chatbot.B9ud5HDS.css
  assets/client.CTJTt880.js
  assets/images/ai-hero.svg
  assets/index.CWUPr-hp.css
  assets/index.Dhi-S4Ah.js
  assets/index.Dkaqzkgy.js
  assets/jsx-runtime.s5l94Kta.js
  chatbot/index.html
  favicon.svg
  href={`${import.meta.env.BASE_URL}favicon.svg
  index.html
  infographics/SPA/index.html
  security/index.html
  test/index.html
  todo/index.html
Due: eslint --fix, prettier --write

feat(polish): complete website polish and production optimization
  .eslintignore
  README.md
  babel.config.js
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix(build): resolve ESLint config and missing check script
  .eslintignore
  cypress/e2e/base-url-paths.cy.js
  eslint.config.js
  package-lock.json
  package.json
  src/api/chatbot.test.js
Due: eslint --fix, prettier --write

package.json fix
  .browserslistrc
  README.md
  astro.config.mjs
  fix_build_issues.sh
  package-lock.json
  package.json
  src/components/ImagePreviewLink.jsx
  src/layouts/Layout.astro
  src/layouts/Layout.astro.backup
  src/styles/main.css
Due: eslint --fix, prettier --write

main.css
  .browserslistrc
  package-lock.json
  package.json
  public/js/app.js
  src/styles/main.css
Due: eslint --fix, prettier --write

Updates
  MarkdownTest/index.html
  agentic-workflow/index.html
  assets/MarkdownTest.CvJ6lYne.js
  assets/MarkdownTest.Da6kTluZ.css
  assets/MarkdownTest.TLgEQVfN.js
  assets/SPA.RRmRTWW6.js
  assets/client.CTJTt880.js
  assets/client.VjKytuWx.js
  assets/index.BVCr90Bx.js
  assets/index.CWUPr-hp.css
  assets/index.Dhi-S4Ah.js
  assets/index.Dkaqzkgy.js
  assets/jsx-runtime.Cb1L4DVx.js
  chatbot/index.html
  index.html
  infographics/SPA/index.html
  js/app.js
  security/index.html
  test/index.html
  todo/index.html
Due: eslint --fix, prettier --write

deployed
  package-lock.json
  package.json
  src/components/MermaidPreviewLink.jsx
  src/layouts/Layout.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

Add ESLint and Babel dependencies for React and TypeScript
  package-lock.json
  package.json
  src/components/MarkdownViewer.jsx
  src/layouts/Layout.astro
  src/pages/api/test.js
Due: eslint --fix, prettier --write

Merge branch 'main' of github.com:sparesparrow/sparrow-ai-tech
  .github/pull_request_template.md
Due: prettier --write

docs(sync): Update external project documentation
  src/content/projects/human-action.md
  src/content/projects/mcp-project-orchestrator.md
  src/content/projects/mcp-prompts-rs.md
  src/content/projects/mcp-prompts.md
Due: prettier --write

fix(ci): resolve pull request check failures
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  package.json
  src/utils/base-path.js
  src/utils/paths.js
Due: eslint --fix, prettier --write

cleanup and lang swich
  cypress.config.js
  cypress/e2e/main.cy.js
  public/https:/cdnl.tblsft.com/sites/default/files/inline-images/Inline-607-monosemanticity-fig1-01-2560x896.png
  public/https:/i0.wp.com/www.atlassian.com/blog/wp-content/uploads/2024/02/Agentic-workflow-diagram.jpg
  public/https:/ppl-ai-code-interpreter-files.s3.amazonaws.com/web/direct-files/fa00de8cb9cff9b70e6117d977bba79b/240de188-337a-4974-8574-5e546a075778/506e5cd8.png
  public/https:/ppl-ai-code-interpreter-files.s3.amazonaws.com/web/direct-files/fa00de8cb9cff9b70e6117d977bba79b/518c43c2-2e1d-4aed-ade2-ac2db49aca62/af3a09f4.png
  public/src={`${import.meta.env.BASE_URL}assets/images/ai-hero.svg
  public/src={`${import.meta.env.BASE_URL}assets/images/claude4-system-card-img-008.png
  public/styles/style.css
  src/components/LanguageToggle.jsx
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/style.css
Due: eslint --fix, prettier --write

Fix three bugs in sparrow ai tech codebase (#9)
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  package-lock.json
  package.json
  src/components/MarkdownViewer.jsx
  src/layouts/Layout.astro
  src/pages/api/test.js
  src/utils/base-path.js
  src/utils/paths.js
Due: eslint --fix, prettier --write

refactor: streamline Astro configuration, update Mermaid integration strategy, and enhance MermaidLiveEditor component for improved usability
  package-lock.json
  package.json
Due: prettier --write

typescript
  package-lock.json
  package.json
Due: prettier --write

depenecy fix
  .astro/collections/projects.schema.json
  .astro/content-assets.mjs
  .astro/content-modules.mjs
  .astro/content.d.ts
  .astro/types.d.ts
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Updates
  MarkdownTest/index.html
  api/test
  https:/cdnl.tblsft.com/sites/default/files/inline-images/Inline-607-monosemanticity-fig1-01-2560x896.png
  https:/i0.wp.com/www.atlassian.com/blog/wp-content/uploads/2024/02/Agentic-workflow-diagram.jpg
  https:/ppl-ai-code-interpreter-files.s3.amazonaws.com/web/direct-files/fa00de8cb9cff9b70e6117d977bba79b/240de188-337a-4974-8574-5e546a075778/506e5cd8.png
  https:/ppl-ai-code-interpreter-files.s3.amazonaws.com/web/direct-files/fa00de8cb9cff9b70e6117d977bba79b/518c43c2-2e1d-4aed-ade2-ac2db49aca62/af3a09f4.png
  index.html
  infographics/SPA/index.html
  src={`${import.meta.env.BASE_URL}assets/images/ai-hero.svg
  src={`${import.meta.env.BASE_URL}assets/images/claude4-system-card-img-008.png
  styles/style.css
Due: prettier --write

resolved dependencies and deployed
  .astro/collections/projects.schema.json
  .astro/content-assets.mjs
  .astro/content-modules.mjs
  .astro/content.d.ts
  .astro/data-store.json
  .astro/settings.json
  .astro/types.d.ts
  build-isolated.sh
  package-lock.json
  package.json
  svelte.config.js
Due: eslint --fix, prettier --write

devcontainer fix
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/dev-scripts/cleanup.sh
  .devcontainer/dev-scripts/setup-dev.sh
  .devcontainer/dev-scripts/update-deps.sh
  .devcontainer/devcontainer.json
  .npmrc
  package-lock.json
Due: prettier --write

ci: improve and standardize GitHub Actions workflows
  .github/dependabot.yml
  .github/workflows/README.md
  .github/workflows/backend-ci.yml
  .github/workflows/content-sync.yml
  .github/workflows/cv-generate.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/generate-cv-pdf.yml
  .github/workflows/repos-sync.yml
  package.json
Due: prettier --write

fix: resolve pnpm executable not found error in GitHub Actions
  .github/dependabot.yml
  .github/workflows/README.md
  .github/workflows/content-sync.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/mcp-mermaid-generator-ci.yml
Due: prettier --write

fix: resolve pnpm not found error in GitHub Actions
  .github/workflows/backend-ci.yml
  .github/workflows/content-sync.yml
  .github/workflows/cv-generate.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
Due: none

fix: add pnpm-lock.yaml and update workflows to handle missing lockfile
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  pnpm-lock.yaml
Due: none

docs: update README with workflow status and recent fixes
  README.md
Due: prettier --write

docs: fix README formatting and update workflow status
  README.md
Due: prettier --write

Updates
  MarkdownTest/index.html
  api/test
  infographics/SPA/index.html
Due: prettier --write

fix: resolve deploy script failures by removing non-existent script references
  package.json
Due: prettier --write

docs: update README with latest fixes and current status
  README.md
Due: prettier --write
